:root {
  color: white;
  background-color: rgb(162, 92, 228);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 20px;
  width: 40%;
  border-radius: 15px;
  border: solid 1px black;
  box-shadow: 0 0 10px black;
}

h2 {
  margin: 20px;
  font-size: 2.5rem;
  text-shadow: 0 0 10px black;
  text-align: center;
}

#postsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.container {
  display: flex;
  justify-content: center;
}

.post {
  width: 345px;
  padding: 10px;
}

.post-author {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.post-like-button.liked {
  color: red;
}

.post-delete-button,
.post-follow-button.unfollow {
  background-color: red !important;
}

.form-text {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside-text {
  width: 40%;
}

@media (max-width: 800px) {
  form, .aside-text {
    width: 80%;
  }
}
