:root {
  color: white;
  background-color: rgb(162, 92, 228);
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 20px;
  width: 40%;
  border-radius: 15px;
  border: solid 1px black;
  box-shadow: 0 0 10px black;
}

h2 {
  margin: 20px;
  font-size: 2.5rem;
  text-shadow: 0 0 10px black;
  text-align: center;
}

#postsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
}


@media (max-width: 800px) {
  form {
    width: 80%;
  }
}